/* Custom CSS for the Cayman theme */

body {
  background-color: #1f567f; /* azul escuro */
}

.page-header {
  background-color: #1f567f;
  background-image: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-image: url('/assets/waves.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  /* New properties for centering and narrowing */
  max-width: 900px; /* Adjust this value as needed */
  margin: 0 auto;
}

/* Adjust the project name to match your new HTML structure */
.project-name {
  display: flex; /* Use flexbox to align logo and text */
  align-items: center;
  color: white !important; /* Change text color to white for contrast */
}

.logo {
  height: 120px; /* Set a fixed height for the logo */
  width: auto;
  margin-right: 1rem;
}

.site-title {
  font-size: 2.5rem; /* Adjust font size as needed */
  font-weight: bold;
}

/* This might be your main content container */
.main-content {
  background-color: #fcf9eb;
  padding: 2rem;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1f567f; /* azul escuro */
}

a {
  text-decoration: none;
}

a:hover {
  color: #8bd3f7; /* azul claro */
  text-decoration: none;
}

.project-name {
    color: #1f567f !important; /* azul escuro */
}

.project-tagline {
  text-align: center;
  margin-bottom: 2rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 640px) {
  .page-header {
    flex-direction: column; /* Stack items vertically */
    padding: 2rem 1rem;
    /* Remove the waves background on smaller screens */
    background-image: none;
  }

  .logo {
    max-height: 120px; /* Smaller logo on small screens */
    margin-right: 0;
    margin-bottom: 1rem; /* Add some space below the logo */
  }

  .site-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}