name: Generate and Deploy Website

on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: List files
        run: ls -la
      - name: Generate website
        run: python cli.py generate --config config.yml

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: github-pages
          path: site_contents

